body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8em;
}
/* General
======================================== */
.clear {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
ul {
  margin-bottom: 0;
}
/* other...
======================================== */
.module_con {
    border-bottom: 1px solid #E57373;
    padding: 10px;
}
.module_con h5 {
  color: #E57373;
}
.module_avatar {

  float: left;
  margin: 0 20px 0 0;
}
.module_content {
  float: left;
}
.top_gutter {
  margin-top: 20px;
}
/* Homepage list of questions
======================================== */
h1.quote {
  font-size: 24px;
  text-align: center;
  line-height: 21px;
  color: #5bc0de;
}
.individualquestion {
    padding: 10px 0px;
    margin: 0px 91px;
    line-height: 24px;
    border-bottom: 1px dashed #ccc;
}
.list-group-item {
  padding:0.5rem 0.5rem;
}
h4.list-group-item-heading {
  font-size:1.2em;
}
a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading {
    color: #0275d8;
}
.miniAction {
  font-size:0.75em;
}
.miniAction:hover {
  text-decoration: underline;
}
/* Homepage tracker
======================================== */
.tracker_element {
  width: 10rem;
  height: 7em;
  display: block;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px 10px 0;
  float: left;
  border: 1px solid #0275d8;
  color: #0275d8;
}
.tracker_element .te_hours {
  font-size: 2em;
  font-weight: bold;
  border-radius: 30px;
  background-color: #fff;
}
